# Imports

In [2]:
from pyathena import connect
import pandas as pd
import numpy as np

from pathlib import Path 
current_path = Path().resolve()

RAW_PATH = current_path.parent / 'data' / 'raw'
OUTPUT_PATH = current_path.parent / 'data' / 'output'

import pickle

%matplotlib inline

# Load Dataset

In [15]:
X = pickle.load(open(OUTPUT_PATH / 'X_v1.p', 'rb'))
Y = pickle.load(open(OUTPUT_PATH / 'Y_v1.p', 'rb'))

In [17]:
X.head(1)

,general_counta_0,node_counta_0,info_counta_0,natural_counta_0,place_counta_0,parking_counta_0,addr_street_counta_0,addr_housenumber_counta_0,amenity_counta_0,school_counta_0,...,natural_counta_6,place_counta_6,parking_counta_6,addr_street_counta_6,addr_housenumber_counta_6,amenity_counta_6,school_counta_6,restaurant_counta_6,place_of_worship_counta_6,shop_counta_6
sensor_id,,,,,,,,,,,,,,,,,,,,,
311831,0.002966,0.00969,0.024712,0.0,0.0,0.0,0.0,0.0,0.038462,0.0,...,0.543071,0.225806,0.0,0.001794,0.001692,0.056047,0.10989,0.044025,0.005525,0.070866

In [18]:
Y.head(1)

sensor_id
314204    (3, 5]
Name: cats, dtype: category
Categories (3, object): [(0, 3] < (3, 5] < (5, 6]]

# Load SKlearn Metrics and Functions

In [19]:
from sklearn import model_selection

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import f1_score

In [ ]:
'tipo=%(tipo)s&ano=%(ano)s'

In [1]:
d = ['pl', 2019]
url_params = ['tipo', 'ano']

In [10]:
'&'.join(map(lambda x: '='.join(map(str, x)), zip(url_params, list(d))))

'tipo=pl&ano=2019'

In [ ]:
# First Model --